extends ../layout.pug

block title
  = user.name

block content

  p
    a(href='/users') â† Back to users

  .card
    .header
      h1.title= user.name
    .content
      p
        a(href=`mailto:${user.email}`)= user.email
      if user.staff
        p Staff
