extends ../layout.pug

block title
  | Users

block content
  if users
    h1.page-heading People
    table.table
      thead
        tr
          th Name
          th Email
          th Type
      tbody
        for user in users
          tr
            td
              img.rounded-circle.mr-3(src=user.avatarUrl(20) width=20 height=20)
              a(href=user.url)= user.name
            td
              a(href=`mailto:${user.email}`)= user.email
            td= user.staff ? 'Staff' : 'User'
  else
    .alert.alert-warning There are no users yet...
