extends ./layout.pug

block title
  | Page Not Found!

block content
  .row
    .col-sm-6.offset-md-3
      .card
        .header
          h1.title Page Not Found
        .content
          p Double check the URL and try again...
