html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title
      block title
        = title
      = ' - '
      = config.APP_NAME
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900|Bitter' rel='stylesheet')
    link(href='/frontend.css'  rel='stylesheet' type='text/css')
  body

    block page
      .wrapper
        .sidebar
          .sidebar-wrapper
            .logo
              a.simple-text(href='/')
                = config.APP_NAME

            ul.nav.flex-column
              li.nav-item(class=(section === 'events' ? 'active' : ''))
                a.nav-link(href='/events')
                  i.ti-calendar
                  | Events

              if currentUser && currentUser.staff
                li.nav-item(class=(section === 'members' ? 'active' : ''))
                  a.nav-link(href='#')
                    i.ti-user
                    | Members
                li.nav-item(class=(section === 'checkins' ? 'active' : ''))
                  a.nav-link(href='#')
                    i.ti-key
                    | Checkins
                li.nav-item(class=(section === 'reports' ? 'active' : ''))
                  a.nav-link(href='#')
                    i.ti-bar-chart
                    | Reports

            hr
            ul.nav.flex-column
              if !currentUser
                li.nav-item
                  a.nav-link(href='/auth/login')
                    i.ti-lock
                    | Login
              else
                li.nav-item
                  a.nav-link(href='/auth/logout')
                    i.ti-power-off
                    | Logout
        .main-panel
          .navbar.navbar-default
            .container
              .navbar-head
                if section === 'events'
                  a.float-right.btn.btn-success.btn-lg(href='/events/new')
                    .fa.fa-plus.mr-3
                    | Create Event
                h1.navbar-brand.text-capitalize= section
          .content
            .container
                block content

          footer.mt-3
            .container
              .copyright.float-right
                | &copy; 2017
                = ' '
                = config.APP_NAME

    script(src='/frontend.js')

    block scripts

    //if env.NODE_ENV === 'production'
      //script.
        //(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          //(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          //m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        //})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        //ga('create', 'UA-81456639-2', 'auto');
        //ga('send', 'pageview');

