extends ../layout.pug

block title
  | Charges

block content
  .card
    if charges && charges.length
      table.table.table-sm
        thead
          tr
            th User
            th Type
            th Amount
            th Memo
            th Created At
        tbody
            for charge in charges
              tr
                td
                  a(href=charge.url)
                    = charge.user.name
                td.text-success
                  include ./_type-display.pug
                td
                  | $
                  = charge.amountDollars
                td= charge.memo
                td= moment(charge.createdAt).fromNow()
    else
      p.text-muted No charges yet
