
//-----------------------------------------
// Bootstrap
//-----------------------------------------

// Colors
/*$white:  #fff !default;*/
$black:  #111 !default;
$red:    #EB5E28 !default;
/*$orange: #f0ad4e !default;*/
$yellow: #F3BB45 !default;
$green:  #7AC29A !default;
$blue:   #7A9E9F !default;
$teal:   #68B3C8 !default;
/*$pink:   #ff5b77 !default;*/
/*$purple: #613d7c !default;*/

// Create grayscale
/*$gray-dark:                 #292b2c !default;*/
/*$gray:                      #464a4c !default;*/
/*$gray-light:                #636c72 !default;*/
/*$gray-lighter:              #eceeef !default;*/
/*$gray-lightest:             #f7f7f9 !default;*/

// Fonts
$font-family-sans-serif: 'Muli', sans-serif;
/*$font-family-serif: 'Bitter', serif;*/
$headings-font-family: $font-family-sans-serif;


//-----------------------------------------
// FontAwesome overrides
//-----------------------------------------

$fa-font-path: '~font-awesome/fonts';
