
//-----------------------------------------
// Bootstrap
//-----------------------------------------

// Fonts
$font-family-sans-serif: 'Muli', sans-serif;
/*$font-family-serif: 'Bitter', serif;*/
$headings-font-family: $font-family-sans-serif;


//-----------------------------------------
// FontAwesome overrides
//-----------------------------------------

$fa-font-path: '~font-awesome/fonts';
