
//-----------------------------------------
// Bootstrap
//-----------------------------------------

// Fonts
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Bitter', serif;
$headings-font-family: $font-family-serif;


//-----------------------------------------
// FontAwesome overrides
//-----------------------------------------

$fa-font-path: '~font-awesome/fonts';
