extends ../layout.pug

block title
  = 'Edit '
  = event.title

block content
  p
    a(href=`/events/${event.id}`) â† Back to event

  .card
    .header
      h1.title Edit Event
    .content
      form(action=`/events/${event.id}/update` method='post')
        include ./_form.pug
        p.mt-5
          if event.draft
            button.btn.btn-success.btn-lg.mr-3(type='submit' disabled) Publish Event
            button.btn.btn-success.btn-lg(type='submit') Save Event
          else
            button.btn.btn-success.btn-lg(type='submit') Update Event
          button.float-right.btn.btn-outline-danger.btn-sm(type='submit') Cancel Event
