extends ../layout.pug

block title
  = 'Edit '
  = event.title

block content

  .row
    .col-xl-10.offset-xl-1
      p
        a(href=`/events/${event.id}`) â† Back to event

      h1.page-heading Edit Event
      form(action=`/events/${event.id}/update` method='post')
        include ./_form.pug
        .mt-5

          button.btn.btn-success.btn-lg(type='submit') Save Event

          .float-right.mt-2
            a.btn.btn-outline-danger.btn-sm(href=`/events/${event.id}/cancel`)
              i.ti-close.mr-2
              | Cancel Event

          if event.draft
            p.mt-3
              small.text-muted.
                Publish changes the status to published, dispalys the event publically and shares of Meetup.com (if external event). Saving just updates the details but does not publish.
