extends ../layout.pug

block title
  | Create Event

block content
  p
    a(href='/events') â† Back to events

  .card
    .header
      h1.title Create Event
    .content
      form(action='/events/new' method='post')
        - event = {}
        include ./_form.pug
        p.mt-5
          button.btn.btn-success.btn-lg(type='submit') Create Event
