extends ../layout.pug

block title
  | Create Event

block content

  .row
    .col-xl-10.offset-xl-1
      p
        a(href='/events') â† Back to events

      h1.page-heading Create Event
      form(action='/events/new' method='post')
        - event = {}
        include ./_form.pug
        p.mt-5
          button.btn.btn-success.btn-lg(type='submit') Create Event
